/* Global Styles */

@font-face {
    font-family: VCR-OSD;
    src: url('VCR_OSD_MONO_1.001.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: VCR-OSD;
    font-size: xxx-large;
    line-height: normal;
    margin: 0;
}

.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.main-text p {
    margin: 20px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    background-color: #000000;
    color: #ffffff;

    outline: none;
    caret-color: transparent;

    animation: 1s infinite alternate text-wiggle ease-in-out;
}

.main-bg {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes text-wiggle {
    from {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-5deg);
    }
}
